# Alpaca Demo

In [1]:
# Initial imports
import os
import requests
import pandas as pd
import seaborn as sys
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

%matplotlib inline

In [2]:
# Load .env environment variables
load_dotenv()

True

In [3]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv('ALPACA_API_KEY_ENV')
alpaca_secret_key = os.getenv('ALPACA_SECRET_KEY_ENV')

In [4]:
# Verify that Alpaca key and secret were correctly loaded
print(type(alpaca_api_key))
print(type(alpaca_secret_key))

<class 'str'>
<class 'str'>

In [5]:
# Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [6]:
# Format current date as ISO format
today = pd.Timestamp("2022-01-28", tz="America/New_York").isoformat()

In [7]:
# Set the tickers
tickers = ['FB', 'TWTR']

In [8]:
# Set timeframe to one day ('1D') for the Alpaca API
timeframe = "1D"

In [9]:
# Get current closing prices for FB and TWTR
df_portfolio_today = alpaca.get_barset(
    tickers,
    timeframe,
    start = today,
    end = today
).df

# Display sample data
df_portfolio_today

C:\Users\dlpst\anaconda3\envs\dev\envs\dev\lib\site-packages\ipykernel_launcher.py:6: DeprecatedWarning: get_barset is deprecated as of v1.0.0. Use get_bars instead

                               FB                                      TWTR  \
                             open   high       low   close    volume   open
time
2022-01-28 00:00:00-05:00  295.84  301.9  293.0333  301.61  19363150  33.75


                           high   low  close    volume
time
2022-01-28 00:00:00-05:00  35.3  33.6  35.26  13229374

In [10]:
# Format start and end dates as ISO format for one year period
start_date = pd.Timestamp("2021-01-28", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2022-01-28", tz="America/New_York").isoformat()

In [11]:
# Set limit_rows to 1000
limit_rows = 1000

In [14]:
# Get closing prices for FB and TWTR from the last year
df_portfolio_year = alpaca.get_barset(
    tickers,
    timeframe,
    start = start_date,
    end = end_date,
    limit = limit_rows
).df

# Display sample data
df_portfolio_year

C:\Users\dlpst\anaconda3\envs\dev\envs\dev\lib\site-packages\ipykernel_launcher.py:7: DeprecatedWarning: get_barset is deprecated as of v1.0.0. Use get_bars instead
  import sys

                               FB                                       \
                             open     high       low   close    volume
time
2021-01-28 00:00:00-05:00  277.18  286.790  264.7000  265.00  35383730
2021-01-29 00:00:00-05:00  265.30  266.560  254.8500  258.33  28139673
2021-02-01 00:00:00-05:00  259.52  264.170  254.9100  261.98  19629047
2021-02-02 00:00:00-05:00  264.00  268.850  263.2700  267.00  15002887
2021-02-03 00:00:00-05:00  265.62  269.200  263.8400  266.68  13254318
...                           ...      ...       ...     ...       ...
2022-01-24 00:00:00-05:00  297.96  309.530  289.0100  309.02  34690794
2022-01-25 00:00:00-05:00  299.88  306.230  297.5800  300.36  21986716
2022-01-26 00:00:00-05:00  306.95  307.510  290.8500  294.61  25388946
2022-01-27 00:00:00-05:00  298.10  301.709  294.2600  294.61  19637657
2022-01-28 00:00:00-05:00  295.84  301.900  293.0333  301.61  19363150

                             TWTR
                             open     high      low    close    volume
time
2021-01-28 00:00:00-05:00  49.490  52.2500  49.2700  51.5600  18527236
2021-01-29 00:00:00-05:00  51.020  52.9900  50.0200  50.5200  12195170
2021-02-01 00:00:00-05:00  51.200  52.7500  51.0718  52.6698  12946104
2021-02-02 00:00:00-05:00  52.865  54.8700  52.7100  53.9900  12595675
2021-02-03 00:00:00-05:00  54.560  55.1900  53.7000  54.5800  14128155
...                           ...      ...      ...      ...       ...
2022-01-24 00:00:00-05:00  33.610  35.1400  32.0500  35.0700  28576857
2022-01-25 00:00:00-05:00  34.220  34.9900  33.6200  34.1800  16405692
2022-01-26 00:00:00-05:00  34.990  35.4300  33.2650  33.6200  18398535
2022-01-27 00:00:00-05:00  34.110  35.1417  33.8100  33.8400  15682753
2022-01-28 00:00:00-05:00  33.750  35.3000  33.6000  35.2600  13229374

[254 rows x 10 columns]